<h1><%= @wiki.title %></h1>

<div class="row">
    <div class="col-md-8">
        <p><%= markdown(@wiki.body) %></p>
        <p>Created by <%= @wiki.user.email %></p>
        <p>Collaborators:
            <% unless @wiki.collaborators.empty? %>
                <% @wiki.collaborators.each do |collaborator| %>
                    <p><%= collaborator.email %></p>
                <% end %>
            <% end %></p>
    </div>
    <div class="col-md-4">
        <% if user_is_authorized_to_update? %>
            <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
        <% end %>
        <%if user_is_authorized_to_delete? %>
            <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this wiki?'} %>
        <% end %>
    </div>
</div>